
body {
	color: #EADAB1;
	background: #035454;
	font-size: large;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid #F0B044;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 20px;
}

a, nav, header {
	font-family: 'Roboto Serif', sans-serif;
	text-align: center;
	font-weight: bold;
	padding-left: 10px;
}

footer {
	text-align: center
}

h1 {
	text-align: center;
	animation: animate 1s ease-in-out infinite alternate;
	color: #F0B044;
	font-family: 'Roboto Serif', sans-serif;
}

h2 {
	color: #CC8397;
	font-family: 'Gotu', sans-serif;
}

h3.gotu-eng {
	margin:0;
	line-height:0px;
	font-family: 'Gotu', sans-serif;
}

h3.gotu {
	color: #CC8397;
	font-family: 'Gotu', sans-serif;
	line-height: 0px;
	padding-top: 25px;
}

h4 {
	color: #EADAB1;
	font-family: 'Rubik', sans-serif;
}

h5 {
	color: #EADAB1;
	font-family: 'Rubik', sans-serif;
}

h6 {
	text-align: left;
	margin: 0;
	line-height:35px;
	font-family: 'Rubik', sans-serif;
	color: #EADAB1;
}

p, li {
	color: #EADAB1;
	font-family: 'Roboto Serif', sans-serif;
	font-size: 15px;
}

summary {
	color: #EADAB1;
	font-size: 15px;
}

@keyframes animate{
	from{
		text-shadow: 0 0 3px #F0B044;
	}
	to{
		text-shadow: 0 0 5px #F0B044,
				0 0 1px #F0B044;
	}
}

/*img:hover { */
  /* Start the shake animation and make the animation last for 0.5 seconds */
 /* animation: shake .5s;*/

  /* When the animation is finished, start again */
  /*animation-iteration-count: infinite;*/
/*}*/
/*@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}*/


img {
  	border: 2px solid #F0B044;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: auto;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

details > summary {
        font-family: 'Rubik', bold;
	transition: transform 0.3s ease;
	padding-left: 0.5rem;
	font-size: 15px;
}


summary {
	background-color: #CC8397;
	font-size: 15px;
}

.copy {
	margin: 0px;
	font-family: 'Roboto Serif', sans-serif;
}

.curse {
	font-family: 'Cedarville Cursive';
	line-height:0px;
}

.error-404  {
	text-align: center;
}

.error-404-p {
	text-align: center;
}

.container {
	padding: 1em;
	column-count: 2;
}

.impact {
	width: 100%;
	margin-bottom: 1em;
}
